import(methods)

export(
  ANOVA,
  rmANOVA,
  GLM,
  Regression,
  UniformModel,
  NormalModel,
  NominalVariable,
  RandomNominalVariable,
  OrdinalVariable,
  RandomOrdinalVariable,
  IntervalVariable,
  RandomIntervalVariable,
  RatioVariable,
  RandomRatioVariable,
  VariableList,
  ModelList,
  UN
)

exportClasses(
  Variable,
  RandomVariable,
  NominalVariable,
  RandomNominalVariable,
  OrdinalVariable,
  RandomOrdinalVariable,
  IntervalVariable,
  RandomIntervalVariable,
  RatioVariable,
  RandomRatioVariable,
  VariableList,
  Model,
  ModelList,
  ParModel,
  RandomParModel,
  MixedParModel,
  GamlssModel,
  NormalModel,
  UniformModel,
  SimDatModel,
  ANOVA,
  rmANOVA,
  GLM,
  Regression
)

exportMethods(
	isRandom,
	isMetric,
	simulate,
	simulateFromModel,
	digits,
	getData,
	variableNames,
	"variableNames<-",
	asRandom,
	asFixed,
	"min<-",
	"max<-",
	"digits<-",
	models,
	"models<-",
	variables,
	"variables<-"
)
